body {
    /*font-family: 'Open Sans', sans-serif;*/
    margin-top: 100px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
    font-family: 'Ubuntu', sans-serif;
}

footer {
    margin: 50px 0;
}

.beatpicker-clear {
    margin-top: 20px;
}

.beatpicker-input {
    cursor: pointer !important;
}

.center-text th, .center-text tr td {
    text-align: center;
}

.expense {
    padding: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.bottom {
    background-color: #474747;
    width: 100%;
}

.bottom .container h3 {
    color: #999;
}

.bottom .container p {
    color: #666;
}

.top-buffer { margin-top:20px !important; }
